@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

@layer base {
  *{
     font-family: 'Lato';
     font-weight: bold;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 22px;
  }
  h5,
  h6 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
}
@layer utilities {
  .singlePageContent ul { 
    list-style-type: disc; 
    list-style-position: inside; 
  }
  .singlePageContent ol { 
      list-style-type: decimal; 
      list-style-position: inside; 
  }
  .singlePageContent ul ul,.singlePageContent ol ul { 
      list-style-type: circle; 
      list-style-position: inside; 
      margin-left: 15px; 
  }
  .singlePageContent ol ol,.singlePageContent ul ol { 
      list-style-type: lower-latin; 
      list-style-position: inside; 
      margin-left: 15px; 
  }
  .catImage {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    min-height: 220px;
    max-height: 250px;
    transition: 1s ease;
  }
  .catImage:hover {
    -webkit-transform: rotateZ(-1deg);
    -ms-transform: rotateZ(-1deg);
    transform: rotateZ(-1deg);
    -webkit-filter: blur(1px);
    filter: blur(1px);
    transition: 1s ease;
  }
  .searchComponent {
  }
  .searchComponent img {
    width: 30px;
  }
  .searchComponent button {
    border-right: 1px solid #555;
    padding-right: 8px;
  }
  #content_image {
    width: 90%;
    height: auto;
    object-fit: cover;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .inputField:focus {
    border-bottom: 1px solid #ffa028;
  }
  .facebook,
  .twitter,
  .linkedin,
  .youtube {
    color: #115294;
  }
}

@layer components {
  .row {
    @apply w-11/12 mx-auto mb-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10;
  }
  .anchor {
    @apply px-5 py-5 flex items-center text-xs capitalize leading-snug text-title text-lg hover:text-borderColor;
  }
  .anchorActive {
    @apply px-5 py-5 border-b border-borderColor flex items-center text-xs capitalize leading-snug text-title text-lg hover:text-borderColor;
  }
}

.InputContainer {
  width: 500px;
}
