@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 22px;
  }
  h5,
  h6 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
}
@layer utilities {
  .catImage {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    min-height: 220px;
    max-height: 250px;
    transition: 1s ease;
  }
  .catImage:hover {
    -webkit-transform: rotateZ(-1deg);
    -ms-transform: rotateZ(-1deg);
    transform: rotateZ(-1deg);
    -webkit-filter: blur(1px);
    filter: blur(1px);
    transition: 1s ease;
  }
  .searchComponent {
    padding-top: 0.5rem;
  }
  .searchComponent img {
    width: 30px;
  }
  .searchComponent button{
    border-left: 1px solid #555;
    padding-left: 8px;
  }
  #content_image{
    width: 90%;
    height: auto;
    object-fit:cover;
    margin-top:15px;
    margin-bottom:15px;
  }
}

@layer components {
  .anchorTag {
    @apply block mt-4 lg:inline-block lg:mt-0 px-3 py-2 mr-2 hover:text-title border-b border-white hover:border-borderColor;
  }
}
