@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer utilities {
  .cardImage {
    object-fit: cover;
    width: 100%;
    min-height: 250px;
    max-height: 300px;
  }
}
